<footer class="keep-color inverted">
  <div class="link-wrapper">
    <a
      title="YouTube"
      href="http://www.youtube.com/channel/UCbvyOKq8tS9_GaI9GDEkaZA"
      ><i class="fab fa-youtube hover-opacity"></i
    ></a>
    <a title="Steam" href="http://steamcommunity.com/id/peatral"
      ><i class="fab fa-steam hover-opacity"></i
    ></a>
    <a title="Reddit" href="http://reddit.com/u/Peatral"
      ><i class="fab fa-reddit hover-opacity"></i
    ></a>
    <a title="Twitter" href="https://twitter.com/TheRealPeatral"
      ><i class="fab fa-twitter hover-opacity"></i
    ></a>
    <a title="Twitch" href="https://twitch.tv/Peatral"
      ><i class="fab fa-twitch hover-opacity"></i
    ></a>
    <a title="Github" href="https://github.com/Peatral"
      ><i class="fab fa-github hover-opacity"></i
    ></a>
  </div>

  <a id="theme-toggle" class="center hover-opacity" style="cursor: pointer;">
    <i class="fa-solid fa-xl fa-sun block-dark"></i>
    <i class="fa-solid fa-xl fa-moon block-light"></i>
  </a>
  <script src="{{ "/scripts/toggle_theme.js" | relative_url }}"></script>

  <p style="text-align: center">©2018-2022 Christof Reimers</p>
</footer>
