<footer>
  <!--<data class="u-url" href="{{ "/" | relative_url }}"></data>

	<div class="wrapper">

		<h2 class="footer-heading">{{ site.title | escape }}</h2>

		<div class="footer-col-wrapper">
		<div class="footer-col footer-col-1">
			<ul class="contact-list">
			<li class="p-name">
				{%- if site.author -%}
				{{ site.author | escape }}
				{%- else -%}
				{{ site.title | escape }}
				{%- endif -%}
				</li>
				{%- if site.email -%}
				<li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
				{%- endif -%}
			</ul>
		</div>

		<div class="footer-col footer-col-2">
			{%- include social.html -%}
		</div>

		<div class="footer-col footer-col-3">
			<p>{{- site.description | escape -}}</p>
		</div>
		</div>

	</div>-->

  <div class="link-wrapper">
    <a
      title="YouTube"
      href="http://www.youtube.com/channel/UCbvyOKq8tS9_GaI9GDEkaZA"
      ><i class="fab fa-youtube hover-opacity"></i
    ></a>
    <a title="Steam" href="http://steamcommunity.com/id/peatral"
      ><i class="fab fa-steam hover-opacity"></i
    ></a>
    <a title="Reddit" href="http://reddit.com/u/Peatral"
      ><i class="fab fa-reddit hover-opacity"></i
    ></a>
    <a title="Twitter" href="https://twitter.com/TheRealPeatral"
      ><i class="fab fa-twitter hover-opacity"></i
    ></a>
    <a title="Twitch" href="https://twitch.tv/Peatral"
      ><i class="fab fa-twitch hover-opacity"></i
    ></a>
    <a title="Github" href="https://github.com/Peatral"
      ><i class="fab fa-github hover-opacity"></i
    ></a>
  </div>

  <p style="text-align: center">©2018-2022 Christof Reimers</p>
</footer>
