<footer class="keep-color inverted">

  <div class="link-wrapper">
    <button id="theme-toggle" class="center tooltip" style="cursor: pointer;">
      <i class="hover-opacity fa-solid fa-sun block-dark"></i>
      <span class="tooltiptext invert block-dark">Light Mode</span>
      
      <i class="hover-opacity fa-solid fa-moon block-light"></i>
      <span class="tooltiptext invert block-light">Dark Mode</span>
    </button>
    <script src="{{ "/scripts/toggle_theme.js" | relative_url }}"></script>
  </div>

  <div class="link-wrapper">
    <a
      title="YouTube"
      href="http://www.youtube.com/channel/UCbvyOKq8tS9_GaI9GDEkaZA"
      ><i class="fab fa-youtube hover-opacity"></i
    ></a>
    <a title="Steam" href="http://steamcommunity.com/id/peatral"
      ><i class="fab fa-steam hover-opacity"></i
    ></a>
    <a title="Reddit" href="http://reddit.com/u/Peatral"
      ><i class="fab fa-reddit hover-opacity"></i
    ></a>
    <a title="Twitter" href="https://twitter.com/TheRealPeatral"
      ><i class="fab fa-twitter hover-opacity"></i
    ></a>
    <a title="Twitch" href="https://twitch.tv/Peatral"
      ><i class="fab fa-twitch hover-opacity"></i
    ></a>
    <a title="Github" href="https://github.com/Peatral"
      ><i class="fab fa-github hover-opacity"></i
    ></a>
  </div>

  <p style="text-align: center">©2018-2022 Christof Reimers</p>
</footer>
