.scene-page {
  font-family: 'Courier Prime', monospace;

  .scene-holder {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    .scene {
      display: flex;
      flex-flow: column nowrap;
      max-width: 40rem;
      margin: 2rem;
      white-space: pre-wrap;
      word-wrap: break-word;

      .sceneheading {
        margin-top: 2rem;
        text-align: center;
        font-size: 150%;
        font-family: 'Courier Prime', monospace;
      }

      .dialogue {
        max-width: 40rem;
        margin: 0 0 0 0;
      }

      .character {
        text-align: left;
        margin-top: 3rem;
        margin-bottom: 0.5rem;
        font-size: 110%;
        font-family: 'Courier Prime', monospace;
      }

      .text {
        text-align: justify;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        @media (min-width: 600px) {
          margin-left: 5rem;
        }
        @media (max-width: 600px) {
          margin-left: 1rem;
        }
      }

      .action {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-style: italic;
      }

      .note {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: small;
        font-style: italic;
      }
    }
  }
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bolder;
}

pre {
  white-space: pre-wrap;
}
