$screenSmallMax: 37.5rem;
$screenMediumMax: 62rem;
$screenMediumMin: 37.6rem;
$screenLargeMin: 62.1rem;

@mixin hCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --color-light: white;
  --color-dark: black;
  --color-link-light: rgb(255, 234, 177);
  --color-link-dark: darkslategrey;

  --color-1: var(--color-light); // default background
  --color-2: var(--color-dark); // default color
  --color-link: var(--color-link-dark); // default link
  --color-link-inverted: var(--color-link-light); // inverted link
}

html[data-theme='light'] {
  --color-1: var(--color-light);
  --color-2: var(--color-dark);
  --color-link: var(--color-link-dark);
  --color-link-inverted: var(--color-link-light);
}

html[data-theme='dark'] {
  --color-1: var(--color-dark);
  --color-2: var(--color-light);
  --color-link: var(--color-link-light);
  --color-link-inverted: var(--color-link-dark);
}

@mixin color-transition {
  transition-duration: 0.5s;
  transition-property: color background;
}

@mixin keep-color-notinverted {
  background: var(--color-light);
  color: var(--color-dark);

  @include color-transition();
}

@mixin keep-color-inverted {
  background: var(--color-dark);
  color: var(--color-light);

  @include color-transition();
}

@mixin notinverted {
  background: var(--color-1);
  color: var(--color-2);

  @include color-transition();
}

@mixin inverted {
  background: var(--color-2);
  color: var(--color-1);

  @include color-transition();
}

.notinverted {
  @include notinverted();
}

.inverted {
  @include inverted();
}

.keep-color {
  @include keep-color-notinverted();

  a {
    color: var(--color-link-dark);
  }

  &.notinverted {
    @include keep-color-notinverted();
    a {
      color: var(--color-link-dark);
    }
  }

  &.inverted {
    @include keep-color-inverted();
    a {
      color: var(--color-link-light);
    }
  }
}

[data-theme='light'] .block-light,
[data-theme='dark'] .block-dark {
  display: block !important;
}

[data-theme='dark'] .block-light,
[data-theme='light'] .block-dark {
  display: none !important;
}

html {
  scroll-behavior: smooth;
}

.site-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3rem;
  box-shadow: 0 0.125rem 0.312rem 0 rgba(0, 0, 0, 0.16),
    0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
  z-index: 10;

  .navbar {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;

    .navbar-item {
      flex: 0 1;
    }
  }
}

body {
  font-family: 'Lato', sans-serif;

  min-height: 100vh;
  margin: 0 0 0 0;
  @include hCenter();

  font-size: 1rem;
  line-height: 1.5;

  width: 100%;

  @include notinverted;

  a {
    color: var(--color-link);

    &.inverted {
      color: var(--color-link-inverted);
    }
  }
}

main {
  flex: 1 0 auto;

  position: relative;
  left: 0;
  right: 0;
}

footer {
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
  padding: 2rem 0 2rem 0;

  @include keep-color-inverted();

  .link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    font-size: 1.5rem;

    a {
      margin: 0.125rem;
    }
  }

  a {
    color: var(--color-light) !important;
  }
}

.button {
  @include keep-color-inverted();
  color: var(--color-light) !important;

  display: flex;
  height: calc(100% - 2rem);
  padding: 1rem;
  line-height: 1rem;
  border: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.2s;
  white-space: nowrap;

  &:hover {
    @include keep-color-notinverted();
    color: var(--color-dark) !important;
  }
}

.hover-opacity:hover {
  opacity: 80%;
}

.page-heading {
  text-align: center;

  i {
    width: 100%;
  }
}

.wide {
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.opacity {
  opacity: 0.6;
}

.content {
  margin: 0 8rem 0 8rem;
  @media only screen and (max-width: $screenSmallMax) {
    margin: 0 0.75rem 0 0.75rem;
  }
}

.hide-small {
  @media only screen and (max-width: $screenSmallMax) {
    display: none !important;
  }
}

.hide-medium {
  @media (max-width: $screenMediumMax) and (min-width: $screenMediumMin) {
    display: none !important;
  }
}

.hide-large {
  @media (min-width: $screenLargeMin) {
    display: none !important;
  }
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

.center {
  @include hCenter();
  text-align: center;
}

.padding-16 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.padding-16-sides {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.padding-32 {
  padding: 2rem !important;
}

.padding-64 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.text-white {
  color: white;
}

.display-container {
  position: relative;
}

.display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.jumbo {
  font-size: 4rem;
}

.large {
  font-size: 1.125rem;
}

.animate-top {
  position: relative;
  animation: animatetop 0.4s;
}
@keyframes animatetop {
  from {
    top: -19rem;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.animate-opacity {
  animation: opac 0.8s;
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

textarea {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Segoe UI', Arial, sans-serif;
  font-weight: 400;
  margin: 0.625rem 0;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.875rem;
}

code {
  font-family: 'Courier Prime', monospace;
}

.container {
  padding: 0.01em 1rem;
  min-height: 100vh;
}

.card {
  box-shadow: 0 0.125rem 0.312rem 0 rgba(0, 0, 0, 0.16),
    0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
  padding: 1rem;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-items: stretch;
  @media only screen and (max-width: $screenMediumMax) {
    flex-direction: column;
  }
}

.flex-item {
  box-sizing: border-box;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-items: stretch;
  @media only screen and (max-width: $screenMediumMax) {
    flex-direction: column;
  }

  .card {
    flex-grow: 1;
  }
}

.flex-half {
  @extend .flex-item;
  flex: 0 50%;
}

.flex-third {
  @extend .flex-item;
  flex: 0 33.333%;
}

.flex-vertical {
  display: flex;
  flex-flow: column nowrap;
  justify-items: stretch;
  align-items: stretch;
}

.flex-stretch {
  flex-grow: 1;
}

.text-container {
  max-width: 50rem;
}

.navigation {
  width: 50%;
  margin: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  min-height: fit-content;
  max-width: 50rem;

  .prev {
    float: left;
  }

  .next {
    float: right;
  }
}

.image-container {
  padding: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    object-fit: contain;
  }

  p {
    margin: 0;
    font-style: italic;
  }
}

.project-section {
  margin-top: 3rem;
}

.warning {
  color: red;
  font-style: italic;
  font-weight: bold;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-light);
  border-radius: 0.5rem;

  &:hover {
    opacity: 80%;
  }
}

.fav-size-med {
  font-size: 1.5em;
}

@import 'tooltip';
@import 'itchwidget';
@import 'infocard';
@import 'scene_styles';
