---
layout: default
---

<article
  class="padding-64 center"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="page-heading">
    <h2 class="wide" itemprop="name headline">{{ page.title | escape }}</h2>
    <p class="opacity">
      <time
        class="dt-published"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
        -%} {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%} •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"
        ><span itemprop="name">{{ page.author }}</span></span
      >
      {%- endif -%}
    </p>

    <a href="{{ page.secondlink }}" class="tooltip"
      ><i class="fav-size-med {{ page.secondlink-class }} hover-opacity"></i
      ><span class="tooltiptext">{{ page.secondlink-tooltip}}</span></a
    >
    {% if page.repo %}<a
      href="https://github.com/Peatral/{{ page.repo }}"
      class="tooltip"
      ><i class="fav-size-med fab fa-github hover-opacity"></i
      ><span class="tooltiptext">Github Repository</span></a
    >{% endif %}
  </header>

  <div class="content justify" style="margin: 1rem" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
