---
layout: default
---

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet"
/>
<style>
    main {
        background-color: black;
        color: white;
    }

    .scene-page {
        font-family: "Courier Prime", monospace;
    }

    .scene-page .scene {
        max-width: 40rem;
        margin: auto;
    }

    .scene-page .scene .title {
        text-align: center;
        font-size: larger;
    }

    .scene-page .scene .actor {
        text-align: left;
        margin-top: 4rem;
    }

    .scene-page .scene .text {
        text-align: justify;
        margin-left: 5rem;
    }

    .scene-page .scene .note {
        font-size: small;
        font-style: italic;
    }

    em {
        font-style: italic;
    }

    ins {
        text-decoration: underline;
    }

    strong {
        font-weight: bolder;
    }
</style>

<div class="scene-page">
    <div id="script">{{ content }}</div>
    <div id="scene" class="scene"></div>
</div>

<script>
    function formatLine(text, regex, replace, open, close) {
        var count = (text.match(regex) || []).length;
        var replaced = 0;
        while (
            replaced < count &&
            !(replaced === count - 1 && count % 2 === 1)
        ) {
            if (replaced % 2 === 0) {
                text = text.replace(replace, open);
            } else {
                text = text.replace(replace, close);
            }
            replaced += 1;
        }
        return text;
    }

    window.onload = function () {
        var script = document
            .getElementById("script")
            .innerHTML.replaceAll("<p>", "")
            .replaceAll("</p>", "")
            .split("\n");
        document.getElementById("script").remove();

        var scene = document.getElementById("scene");

        var lastline = "empty";
        for (var i = 0; i < script.length; i++) {
            var line = script[i].trim();
            if (line.length > 0) {
                const para = document.createElement("p");

                if (lastline === "empty") {
                    if (line.startsWith(".")) {
                        line = line.substr(1);
                        para.classList.add("title");
                        lastline = "title";
                    } else if (line.toUpperCase() == line) {
                        para.classList.add("actor");
                        lastline = "actor";
                    } else {
                        para.classList.add("note");
                        lastline = "note";
                    }
                } else {
                    para.classList.add("text");
                    lastline = "text";
                }

                para.innerHTML = line;
                scene.appendChild(para);
            } else {
                lastline = "empty";
            }
        }
    };
</script>
