---
layout: default
---

<!--<script src="{{ "/scripts/fountainparser.js" | relative_url }}"></script>-->
<script src="{{ "/scripts/fountain.js" | relative_url }}"></script>
<script type="text/javascript">
  window.onload = function () {
    if (window.location.search.match(/raw/gi)) {
      return;
    }
    var scriptElement = document.getElementById("script");
    if (scriptElement == undefined) {
      return;
    }
    var script = scriptElement.innerHTML;
    fountain.parse(script, true, (output) => {  
      var sceneElement = document.getElementById("scene");
      scriptElement.remove();
      sceneElement.innerHTML = output.html.script;
    });
  };
</script>

<div class="center">
  {% if page.fountain_file %}
    <section class="scene-page">
      {%- capture rawContent -%} {% include_relative {{ page.fountain_file }} %} {%-
      endcapture -%}
      <pre id="script" style="opacity: 0%;">{{- rawContent -}}</pre>
    
      <div class="scene-holder">
        <div id="scene" class="scene"></div>
      </div>
    </section>
  {% endif %}
  <article class="content text-container justify">{{ content }}</article>
</div>
